/* le footer */
footer {
    background-color: #F37038;

}

footer h5 {
    color: white;
}

footer ul {
    color: white;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}

/* le menu */
.menu {
    background-color: #F37038;
    padding: 15px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a.active {
    color: #1e1e1c;
}

.menu ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.menu ul li a:hover {
    color: #1e1e1c;
}

.p-adhesion{
    text-align: justify;
}

.CTA{
    border: 2px solid #F37038;
    border-radius: 30px;
    text-decoration: none;
    color: #F37038;
    background-color: white;
    padding: 10px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.5s ease;
}

.CTA:hover{
    background-color: #F37038;
    color: white;
}


.image-fond {
    background-image: url('../images/image-accueil.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    filter: brightness(0.5);
}

.degrade-nav {
    width: 100%;
    height: 60px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0));
    position: absolute;

}

.photo-profil {
    width: 40px;
}

.infos { 
    background-color: #F37038;
}

.infos img {
    width: 100px;
}

.text-orange {
    text-decoration: none;
    color: #F37038;
    font-weight: bold;
}


.CTA-blanc{
    border: 1px solid #ffffff;
    border-radius: 30px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 30px;
    margin-top: 40px;
    transition: 0.5s ease;
    background-color: #F37038;
}

.CTA-blanc:hover{
    background-color: white;
    color: #F37038;
}

/* page admin */
.form-control {
    border-color: #F37038;
    text-align: center;
    padding: 15px;
    max-width: 70%;
}

.form-control:focus {
    border-color: #F37038;;
    box-shadow: 0 0 5px #F37038;;
}

.form-control::placeholder {
    font-weight: bold;
}